// Body
$body-bg: white;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
$blue-color: #259bf7;
$background-gray: #e8e8e8;
$light-green: #50c996;
$grey-inactive: #818390;
$table-header: #838592;
