@mixin new-ticket-btn() {
    background-color: $blue-color;
    border: none;
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;

    &:hover {
        filter: brightness(0.8);
    }
}

@mixin scroll-bar() {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #e9eaec;
        border-radius: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #bbbcbd;
    }
}

@mixin pagination-button() {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid #e8e8e8;
    border-radius: 4px;
    background-color: white;

    &:hover {
        background-color: #e8e8e8;
    }

    &:disabled {
        background-color: rgb(241, 239, 239);
        pointer-events: none;
    }
}
