@function is-important($important) {
    @return #{if($important, "!important", "")};
}

@mixin new-ticket-btn() {
    background-color: $blue-color;
    border: none;
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;

    &:hover {
        filter: brightness(0.8);
    }
}

@mixin scroll-bar() {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #e9eaec;
        border-radius: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #bbbcbd;
    }
}

@mixin pagination-button($important: false) {
    display: flex is-important($important);
    justify-content: center is-important($important);
    align-content: center is-important($important);
    flex-wrap: wrap is-important($important);
    padding: 10px is-important($important);
    border: 2px solid #e8e8e8 is-important($important);
    border-radius: 4px is-important($important);
    background-color: white is-important($important);

    &:hover {
        background-color: #e8e8e8 is-important($important);
    }

    &:disabled {
        background-color: rgb(241, 239, 239) is-important($important);
        pointer-events: none is-important($important);
    }
}

@mixin modal-input() {
    border-radius: 4px;
    padding: 8px;
    border: 1px solid $input-border;
    &:focus {
        outline: 1px solid #9a9999;
    }
}

@mixin comment-button($text-color: blue) {
    border-radius: 20px;
    padding: 5px 10px;
    color: $text-color;
    border: none;
    background: white;
    &:hover {
        filter: brightness(0.9);
    }
}
